<header class="kd-navbar">
  <a href="/#intro" class="kd-navbar__brand" aria-label="Konstantine Datunishvili">
    {% include "logo.njk" %}
  </a>
  <ul class="kd-navbar__menu kd-stagger kd-d-md-none">
    {% if page.url === '/' %}
      <li class="kd-animate-drop-in">
        <a href="/#about" class="kd-navbar__link">About</a>
      </li>
      <li class="kd-animate-drop-in">
        <a href="/#experience" class="kd-navbar__link">Experience</a>
      </li>
      <li class="kd-animate-drop-in">
        <a href="/#projects" class="kd-navbar__link">Work</a>
      </li>
      <li class="kd-animate-drop-in">
        <a href="/#contact" class="kd-navbar__link">Contact</a>
      </li>
    {% endif %}
    {% if page.url !== '/' %}
      <li class="kd-animate-drop-in">
        <a href="/" class="kd-navbar__link">Home</a>
      </li>
    {% endif %}
    <li class="kd-animate-drop-in">
      <a href="/blog" class="kd-navbar__link">Blog</a>
    </li>
    <li class="kd-animate-drop-in">
      <a class="kd-btn kd-btn--outline" href="/assets/files/resume.pdf" target="_blank">Resume</a>
    </li>
  </ul>
  <button
    type="button"
    class="kd-burger kd-d-none kd-d-md-block"
    aria-label="Menu"
    aria-expanded="false">
    <span class="kd-burger__bar"></span>
    <span class="kd-burger__bar"></span>
  </button>
</header>
