<nav class="flex-center">
  <a href="/#intro" class="logo">
    {% include "logo.njk" %}
  </a>
  <aside class="flex-center">
    <ul class="flex-center">
      <li>
        <a href="/#about">About</a>
      </li>
      <li>
        <a href="/#experience">Experience</a>
      </li>
      <li>
        <a href="/#projects">Work</a>
      </li>
      <li>
        <a href="/#contact">Contact</a>
      </li>
      <li>
        <a class="resume" href="./assets/files/resume.pdf" target="_blank" data-skip-external-style="true">Resume</a>
      </li>
    </ul>
    <div class="burger">
      <button aria-label="menu" class="menu">
        <div class="icon-left"></div>
        <div class="icon-right"></div>
      </button>
    </div>
  </aside>
</nav>