<script type="module">
  import { reveal } from "/scripts/kostad-brand.min.js";

  reveal();
</script>
{% if page.url === "/" %}
  <script src="/scripts/home.js"></script>
{% endif %}
<script src="/scripts/main.js"></script>