@use "./variables" as *;

@keyframes drop-item {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes fade-in {
  0% {
    backdrop-filter: blur(0px);
    background-color: transparent;
  }
  100% {
    backdrop-filter: blur(3px);
    background-color: $navy-color-alpha;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    backdrop-filter: blur(3px);
  }
  100% {
    backdrop-filter: blur(0px);
    background-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: $green-color;
  }
}

@keyframes light-up {
  0% {
    fill: $slate-color;
  }
  25% {
    fill: $green-color;
  }
  50% {
    fill: $slate-color;
  }
  75% {
    fill: $green-color;
  }
  100% {
    fill: $slate-color;
  }
}
