@use "./variables" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  font-weight: 600;
  color: $lightest-slate-color;
  margin: 0px 0px 10px;
  line-height: 1.1;

  &.header-text {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0px 40px;
    font-size: clamp(25px, 5vw, $font-size-heading);
    font-family: $primary-font;
    white-space: nowrap;

    &::after {
      content: "";
      display: block;
      max-width: 300px;
      width: 100%;
      height: 1px;
      margin-left: 20px;
      background-color: $light-navy-color;
    }
  }
}

h1 {
  font-size: clamp($font-size-heading, 5vw, 50px);
}

h2 {
  font-size: clamp($font-size-xxl, 5vw, $font-size-heading);
}

h3,
h4,
h5,
h6 {
  font-size: clamp($font-size-sm, 8vw, $font-size-md);
}

button:hover,
button:focus-visible {
  outline: none;
  box-shadow: $box-shadow;
  transform: $transform;
}

a,
button {
  color: $green-color;
  font-family: $secondary-font;
  font-size: $font-size-xs;
  line-height: 1;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: $border;
  border-radius: $border-radius;
  text-decoration: none;
  transition: $transition;
  display: inline-block;
  cursor: pointer;
}

a:hover,
a:focus-visible {
  outline: none;
  box-shadow: $box-shadow;
  transform: $transform;
}

a.link,
a.header-anchor,
.blog a {
  line-height: normal;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  border: none;
  border-radius: 0;
  text-decoration-skip-ink: auto;
  position: relative;

  &.header-anchor {
    color: $lightest-slate-color;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0px;
    transform-origin: bottom left;
    transition: transform 0.25s ease;
    background: $green-color;
  }

  &:hover,
  &:focus-visible,
  &.active {
    outline: none;
    box-shadow: none;
    transform: none;

    &.header-anchor {
      color: $green-color;
    }

    &:not(.header-anchor) {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

a.skip {
  color: $green-color;
  background-color: transparent;
  border: 1px solid $green-color;
  border-radius: $border-radius;
  font-size: $font-size-xs;
  font-family: $secondary-font;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  padding: 1.25rem 1.75rem;
  position: absolute;
  transition: $transition;
  top: 0px;
  left: -200%;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -99;
  opacity: 0;

  &:focus-visible {
    outline: none;
    box-shadow: 4px 4px 0 0 $green-color;
    transform: translate(-5px, -5px);
  }

  &:hover,
  &:focus {
    background-color: $green-color;
    color: $navy-color;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    overflow: auto;
    box-shadow: none;
    transform: none;
    z-index: 1000;
    opacity: 1;
  }
}

ul.list {
  display: grid;
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;

  li {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: $font-size-sm;
    position: relative;
    display: flex;

    &::before {
      content: "▹";
      position: absolute;
      left: 0px;
      font-family: $secondary-font;
      color: $green-color;
      font-size: $font-size-sm;
    }
  }
}

.blog ul {
  padding: 0 15px;
  margin: 10px 0;
  li {
    padding-left: 5px;
    margin-bottom: 10px;
    &::marker {
      content: "▹";
      color: $green-color;
    }
  }
}

div.logo {
  position: relative;
  width: 45px;
  height: 52.5px;
  z-index: 100;

  aside {
    span {
      color: $green-color;
      font-family: $secondary-font;
      font-weight: 700;
      font-size: 18px;
      user-select: none;
    }
  }

  &__part {
    position: absolute;
    width: 45px;
    height: 25.5px;

    &__wrap {
      width: 100%;
      height: 100%;
      position: relative;

      &__line {
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: $green-color;
        z-index: 10;
      }
    }

    &__wrap__line:nth-of-type(1) {
      left: 0px;
    }
    &__wrap__line:nth-of-type(2) {
      right: 0px;
    }
  }

  &__part:nth-of-type(2) {
    transform: rotate(60deg);
  }

  &__part:nth-of-type(3) {
    transform: rotate(-60deg);
  }
}

pre {
  border-radius: 8px;
  width: 100%;
  max-width: calc(100vw - 100px);
  overflow-x: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 100%;
    border-left: 2px solid $green-color;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

code.hljs {
  width: 100%;
  display: block;
  overflow-x: auto;
  padding: 1em;
  line-height: 1.6;
  font-size: $font-size-sm;
  border-radius: 8px;
  box-sizing: border-box;
}

code::-webkit-scrollbar-track {
  background: #011627;
}

code:not(pre *) {
  padding: 0 0.3rem;
  background-color: $lightest-navy-color;
  color: #addb67;
}

.hljs {
  background: #011627;
  color: #d6deeb;
}

.hljs-keyword {
  color: #c792ea;
  font-style: italic;
}
.hljs-built_in {
  color: #addb67;
  font-style: italic;
}
.hljs-type {
  color: #82aaff;
}
.hljs-literal {
  color: #ff5874;
}
.hljs-number {
  color: #f78c6c;
}
.hljs-regexp {
  color: #5ca7e4;
}
.hljs-string {
  color: #ecc48d;
}
.hljs-subst {
  color: #d3423e;
}
.hljs-symbol {
  color: #82aaff;
}
.hljs-class {
  color: #ffcb8b;
}
.hljs-function {
  color: #82aaff;
}
.hljs-title {
  color: #dcdcaa;
  font-style: italic;
}
.hljs-params {
  color: #7fdbca;
}

.hljs-comment {
  color: #637777;
  font-style: italic;
}
.hljs-doctag {
  color: #7fdbca;
}
.hljs-meta {
  color: #82aaff;
}
.hljs-meta .hljs-keyword {
  color: #82aaff;
}
.hljs-meta .hljs-string {
  color: #ecc48d;
}

.hljs-section {
  color: #82b1ff;
}
.hljs-tag,
.hljs-name {
  color: #7fdbca;
}
.hljs-attr {
  color: #7fdbca;
}
.hljs-attribute {
  color: #80cbc4;
}
.hljs-variable {
  color: #addb67;
}

.hljs-bullet {
  color: #d9f5dd;
}
.hljs-code {
  color: #80cbc4;
}
.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}
.hljs-strong {
  color: #addb67;
  font-weight: bold;
}
.hljs-formula {
  color: #c792ea;
}
.hljs-link {
  color: #ff869a;
}
.hljs-quote {
  color: #697098;
  font-style: italic;
}

.hljs-selector-tag {
  color: #ff6363;
}

.hljs-selector-id {
  color: #fad430;
}

.hljs-selector-class {
  color: #addb67;
  font-style: italic;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}

.hljs-template-tag {
  color: #c792ea;
}
.hljs-template-variable {
  color: #addb67;
}

.hljs-addition {
  color: #addb67ff;
  font-style: italic;
}

.hljs-deletion {
  color: #ef535090;
  font-style: italic;
}

*::selection {
  color: $green-color;
  background-color: $lightest-navy-color;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: $navy-color;
}

*::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid $navy-color;
  border-radius: 10px;
}
