@use "./variables" as *;
@use "./animations" as *;

section {
  &.intro {
    padding: 0;
    max-width: 650px;
    margin: auto;

    h1,
    h2,
    p {
      font-family: $primary-font;
      margin: 0;
    }

    h3 {
      font-weight: 400;
      font-size: clamp($font-size-sm, 8vw, $font-size-md);
      color: $green-color;
      animation: fade-up 1000ms ease;
    }

    h1 {
      font-size: clamp(40px, 5vw, 60px);
      animation: fade-up 1200ms ease;
    }

    h2 {
      color: $slate-color;
      font-size: clamp(40px, 5vw, 60px);
      animation: fade-up 1400ms ease;
    }

    p {
      margin: 10px 0 0;
      font-size: $font-size-md;
      font-family: $secondary-font;
      line-height: 1.5;
      animation: fade-up 1600ms ease;
    }
  }

  &.about {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    place-items: center;

    article {
      p {
        margin: 0px 0px 15px;
        color: $slate-color;
        font-family: $secondary-font;
      }

      ul {
        grid-template-columns: repeat(2, minmax(100px, 200px));
      }
    }

    aside {
      display: inline-block;
      width: fit-content;
      user-select: none;
      max-width: 300px;
      border-radius: $border-radius;
      transition: $transition;
      position: relative;
      inset: 0px;
      object-fit: cover;
      z-index: 10;

      &:hover,
      &:focus,
      &:focus-visible {
        outline: 0px;
        transform: translate(-4px, -4px);
        box-shadow: 0 20px 30px -15px rgba(2, 12, 27, 0.7);

        &::after {
          transform: translate(8px, 8px);
        }

        &::before {
          opacity: 0;
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        transition: $transition;
        border: 2px solid $green-color;
        top: 10px;
        left: 10px;
        z-index: -1;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 300px;
        border-radius: $border-radius;
        transition: $transition;
        background-color: #64ffdb8a;
        opacity: 0.5;
      }

      img {
        border-radius: $border-radius;
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &.experience {
    max-width: 700px;

    .jobs {
      min-height: 320px;
      display: flex;

      &__tabs {
        width: max-content;

        button {
          width: 100%;
          height: 42px;
          display: flex;
          align-items: center;
          transition: $transition;
          font-size: $font-size-xs;
          color: $slate-color;
          background: transparent;
          border: 0px;
          border-radius: 0;
          border-left: 2px solid $light-navy-color;
          white-space: nowrap;
          padding: 0px 20px 2px;
          text-align: left;
          cursor: pointer;

          &:hover,
          &:focus-visible {
            background-color: $light-navy-color;
            color: $green-color;
            outline: none;
            box-shadow: none;
            transform: none;
          }
        }

        button.active {
          border-left: 2px solid $green-color;
          background-color: $light-navy-color;
          color: $green-color;
          outline: none;
        }
      }

      &__description {
        margin-left: 20px;
        padding: 10px 5px;

        &__header {
          h3 {
            margin-bottom: 2px;
            font-size: $font-size-xxl;
            font-family: $primary-font;
            font-weight: 500;
            gap: 5px;

            span {
              color: $green-color;
              display: inline-flex;

              &::before {
                content: "@";
                line-height: 1;
                margin-right: 3px;
              }
            }
          }

          p {
            color: $slate-color;
            font-size: $font-size-xs;
            margin: 0px 0px 25px;
          }
        }
        &__details {
          ul {
            li {
              span {
                font-size: $font-size-sm;
              }
            }
          }
        }
      }
    }
  }

  &.projects {
    max-width: 1000px;

    .projects_list {
      min-height: 300px;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 100px;

      .project {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;

        .external_image {
          border: none;
          padding: 0;
          display: inline-block;
          width: 100%;
          min-height: 395px;
          max-width: 560px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            transition: $transition;
            background-color: $navy-color;
            opacity: 0.5;
          }

          &:focus-visible {
            outline: 2px dashed $green-color;
            outline-offset: 5px;
          }

          &:hover,
          &:focus-visible {
            box-shadow: none;
            transform: none;
            &::before {
              background-color: transparent;
            }
          }
        }

        .content {
          width: 100%;
          max-width: 470px;
          top: 0px;
          position: absolute;
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 10px;
          z-index: 10;
          right: 0px;
          place-items: end;
          text-align: right;

          p {
            margin: 0px;
          }

          p.tag {
            font-weight: 400;
            font-size: $font-size-xs;
            color: $green-color;
          }

          a {
            font-family: $primary-font;
            color: $lightest-slate-color;
            text-decoration: none;
            transition: $transition;
            font-size: clamp(24px, 5vw, 28px);
            border: none;
            padding: 0;
            font-weight: 600;
            display: inline-block;
            width: fit-content;

            &:hover,
            &:focus-visible {
              color: $green-color;
              outline: none;
              box-shadow: none;
              transform: none;
            }
          }

          p.tags {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            color: $light-slate-color;
            font-size: $font-size-xs;
            gap: 10px;
          }

          .project_description {
            box-shadow: 0px 10px 30px -15px $navy-color;
            transition: $transition;
            padding: 25px;
            font-size: $font-size-lg;
            color: $light-slate-color;
            background-color: $light-navy-color;
            border-radius: 4px;
          }
        }
      }

      .project.right {
        justify-content: right;

        .content {
          left: 0px;
          place-items: start;
          a,
          p {
            text-align: left;
          }
        }
      }
    }
  }

  &.noteworthy-projects {
    max-width: 1000px;

    h2.header-text {
      justify-content: center;

      &::after {
        display: none;
      }
    }

    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 15px;
      position: relative;

      .project {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $light-navy-color;
        padding: 2rem 1.75rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 4px;
        transition: $transition;
        box-shadow: 0px 10px 30px -15px rgba(2, 12, 27, 0.7);
        box-sizing: border-box;

        &:hover,
        &:focus-visible {
          transform: translateY(-7px);
          outline: none;

          h3 {
            a {
              color: $green-color;
            }
          }
        }

        &__top {
          width: 100%;
          justify-content: space-between;
          margin-bottom: 15px;

          .folder {
            img {
              width: 40px;
              height: 40px;
            }
          }
          .external {
            position: relative;
            a {
              padding: 5px 7px;
              position: relative;
              z-index: 1;
              border: none;

              &:hover,
              &:focus {
                transform: none;
                box-shadow: none;

                svg {
                  stroke: $green-color;
                }
              }
              svg {
                transition: $transition;
                width: 20px;
                height: 20px;
              }
              &:focus-visible {
                outline: 2px dashed $green-color;
                outline-offset: 3px;
              }
            }
          }
        }

        &__middle {
          h3 {
            margin: 0px 0px 10px;

            a {
              display: inline-block;
              transition: $transition;
              text-decoration: none;
              font-size: $font-size-xxl;
              color: $lightest-slate-color;
              border: none;
              padding: 0;

              &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
              }

              &:hover,
              &:focus,
              &:focus-visible {
                color: $green-color;
                transform: none;
                box-shadow: none;
              }
            }
          }
          p {
            margin: 0px;
            font-size: 17px;
            color: $light-slate-color;
          }
        }

        &__bottom {
          width: 100%;
          ul {
            padding: 0px;
            margin: 20px 0px 0px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            flex-grow: 1;

            li {
              margin-right: 15px;
              font-size: 12px;
              line-height: 1.75;
            }
          }
        }
      }
    }
  }

  &.contact {
    max-width: 600px;
    text-align: center;
    padding: 100px 0px 150px;

    h2.header-text {
      font-size: clamp(30px, 5vw, 50px);
      justify-content: center;
      margin: 10px 0px;

      &::after {
        display: none;
      }
    }

    p {
      font-size: 18px;
    }

    a {
      margin-top: 25px;
    }
  }
}
