@use "./variables" as *;

@media screen and (max-width: 768px) {
  header {
    nav.flex-center {
      ul {
        display: none;
      }
      div.burger {
        display: block;
      }
    }
  }

  main {
    padding: 50px;

    section {
      &.about {
        grid-template-columns: 1fr;
        place-items: center;
      }
    }
  }

  footer {
    position: static;

    .socials {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px 30px;
      margin-top: 10px;

      ul {
        width: fit-content;
        flex-direction: row;

        &::after {
          display: none;
        }
      }
    }

    .contact__gmail {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    section {
      .header-text {
        font-size: clamp(20px, 5vw, $font-size-heading);
      }

      &.experience {
        .jobs {
          display: grid;
          row-gap: 15px;

          ::-webkit-scrollbar {
            width: 4px;
          }

          ::-webkit-scrollbar-thumb {
            transition: $transition;
          }

          ::-webkit-scrollbar-thumb:hover,
          ::-webkit-scrollbar-thumb:active {
            background-color: $green-color;
          }

          &__tabs {
            width: 100%;
            display: flex;
            overflow-x: auto;
            padding-bottom: 10px;

            button {
              width: 100%;
              text-align: center;
              justify-content: center;
              padding: 0px 15px;
              border: 0px;
              border-bottom: 2px solid $light-navy-color;
            }

            button.active {
              border: 0px;
              border-bottom: 2px solid $green-color;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 25px;

    section {
      &.about {
        article {
          p {
            font-size: $font-size-lg;
          }
          ul {
            grid-template-columns: 1fr;
          }
        }
        aside {
          &::before {
            height: 200px;
          }

          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  main {
    padding: 25px;

    section {
      .header-text {
        font-size: clamp(18px, 5vw, $font-size-heading) !important;
      }

      &.about {
        article {
          p {
            font-size: $font-size-lg;
          }
          ul {
            grid-template-columns: 1fr;
          }
        }
        aside {
          &::before {
            height: 150px;
          }

          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}
