@use "./variables" as *;
@use "./mixins" as *;
@use "./animations" as *;
@use "./header" as *;
@use "./footer" as *;
@use "./typography" as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: $navy-color;
  font-family: $secondary-font;
  font-size: $font-size-xl;
  color: $slate-color;
  line-height: 1.3;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 100px 90px 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 50;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-items: center;

  &.hide {
    z-index: -1;
  }

  section {
    width: 100%;
    position: relative;
    padding: 100px 0;
    margin: auto;

    &.full-size {
      height: calc(100vh - 100px - 15px);
    }
  }

  div.not-found {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

    h4 {
      line-height: 1.5;
      overflow: hidden;
      border-right: 0.15em solid $green-color;
      white-space: nowrap;
      margin: 10px auto 25px;
      letter-spacing: 0.15em;
      animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    }

    h3 {
      margin: 0 auto;
      color: $green-color;
      font-size: $font-size-xl;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
}
