---
layout: "base.njk"
---

<section class="kd-section kd-measure-md">
  <article
    class="kd-prose"
    typeof="BlogPosting"
    resource="https://konstantinedatunishvili.com/blog/{{ page.fileSlug }}">
    <img src="{{ image }}" alt="{{ imageAlt }}">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
</section>
