---
title: "Page not found"
layout: "base.njk"
description: "Requested page not found"
permalink: "404.html"
---

<section class="kd-section kd-section--flush kd-h-viewport kd-flex-center">
  <div class="kd-empty">
    <h3 class="kd-empty__code">404</h3>
    <h4 class="kd-empty__title kd-typewriter" style="--kd-typewriter-steps: 14;">Page not found</h4>
    <a class="kd-btn kd-btn--outline" href="/">Navigate to home</a>
  </div>
</section>
