---
title: "Page not found"
layout: "base.njk"
description: "Requested page not found"
permalink: "404.html"
---

<section class="full-size flex-center">
  <div class="not-found">
    <h3>404</h3>
    <h4>Page not found</h4>
    <a href="/">Navigate to home</a>
  </div>
</section>