---
layout: "base.njk"
---

<section class="full-size flex-center intro">
  <article>
    <h3>Hi, my name is</h3>
    <h1>Konstantien Datunishvili</h1>
    <h2>I
      <span id="update-word">create</span>
      websites.
    </h2>
    <p>
      I am a Full-stack developer, Educator and a Tech enthusiast. I am always looking for new opportunities to learn and
      grow.
    </p>
  </article>
</section>