---
layout: "base.njk"
title: "Multi-level Access QR Article"
description: "Multi-level Access of Information Systems using QR Codes by Konstantine Datunishvili"
permalink: "qr-project.html"
---

<section>
  <h1>Multi-level access to information systems by QR codes for wearable devices
    <span class="hidden">by Konsetantine Datunishvili</span>
  </h1>
  <h2>My role in article</h2>
  <p>
    As a developer, I was responsible for maintaining and optimizing the code, and developing the app's frontend and backend
    functionality.
  </p>
  <h2>Abstract</h2>
  <p>
    Multi-level access of information systems by QR codes for wearable devices is a scientific project developed at Batumi
    State University. The project was implemented and tested in a university setting, but it has the potential to be used in
    a wide range of business and government organizations.
  </p>
  <p>
    Researchers at Batumi State University developed a software product that allows people with different statuses to access
    different data using a single static QR code. The QR code can be placed on any object, and the data that is displayed
    will vary depending on the user's status. For example, in a university setting, employees and students could be given
    different access to information about classes, events, and resources.
  </p>
  <p>
    The QR code assigned to a room remains unchanged even if the processes in the room change. This means that the QR code
    only needs to be updated once, even if the information about the room changes frequently. For example, if a classroom is
    used for different classes throughout the day, the QR code would not need to be updated each time.
  </p>
  <p>
    The software product can be used to digitize cities, providing different information to users of different access
    levels. For example, tourists could use QR codes to access information about attractions, restaurants, and cafes.
    Customers could use QR codes to access information about loyalty programs and special offers.
  </p>
  <p>
    The system is simple and technologically practical, with a wide range of potential applications. The researchers at
    Batumi State University used modern computer technology, Internet technologies, and programming tools to develop the
    software product.
  </p>
  <h3>Sources</h3>
  <ul class="list">
    <li>
      <a class="external" href="https://dl.acm.org/doi/fullHtml/10.1145/3606305.3606330" target="_blank">Article</a>
    </li>
    <li>
      <a class="external" href="https://dl.acm.org/doi/abs/10.1145/3606305.3606330" target="_blank">Abstract</a>
    </li>
    <li>
      <a
        class="external"
        href="https://www.scopus.com/results/authorNamesList.uri?sort=count-f&src=al&sid=a91bd34ef55fe454318b5389a8e3eb17&sot=al&sdt=al&sl=53&s=AUTHLASTNAME%28datunishvili%29+AND+AUTHFIRST%28konstantine%29&st1=datunishvili&st2=konstantine&orcidId=&selectionPageSearch=anl&reselectAuthor=false&activeFlag=true&showDocument=false&resultsPerPage=20&offset=1&jtp=false&currentPage=1&previousSelectionCount=0&tooManySelections=false&previousResultCount=0&authSubject=LFSC&authSubject=HLSC&authSubject=PHSC&authSubject=SOSC&exactAuthorSearch=false&showFullList=false&authorPreferredName=&origin=searchauthorfreelookup&affiliationId=&txGid=02f2699069a18cd34b6ab2aa9bc5d08c"
        target="_blank">Scopus</a>
    </li>
  </ul>
</section>