---
layout: "base.njk"
title: Blog
description: "Browse blog posts"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | lower }}.html
---

<section class="blog-entry">
  <h1>Blog</h1>
  {% include "tag-list.njk" %}
  {%- for post in collections[tag] | reverse -%}
    {% include "blog-entry.njk" %}
  {%- endfor -%}
</section>