---
layout: "base.njk"
permalink: "typography.html"
---

<section>
  <h1>Test</h1>
  <h2>Test 2</h2>
  <h3>Test 3</h3>
  <h4>Test 4</h4>
  <h5>Test 5</h5>
  <h6>Test 6</h6>
  <p>asdfasdf</p>
  <a href="https://iswavle.com">test</a>
  <button>test</button>
  <ul class="list">
    <li>test 1</li>
    <li>test 2</li>
    <li>test 3</li>
    <li>test 4</li>
  </ul>
</section>